server:
  port: 8080
  servlet:
    context-path: /TopCV
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/your_database_name
    username: your_username
    password: your_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

logging:
  level:
    org.springframework.web: INFO
    org.hibernate: INFO
    com.TopCV: DEBUG 